[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
google-genai = "*"
mediapipe = "*"
opencv-python = "*"
numpy = "*"
tensorflow = "*"
keras = "*"
deepface = "*"
tf-keras = "*"
openai-whisper = "*"
ffmpeg-python = "*"
speechrecognition = "*"
moviepy = "==1.0.3"

[dev-packages]

[requires]
python_version = "3.12"
